/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global body styles */
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
  font-size: 14px;
}

/* Background color class */
.bg-blue {
  background-color: #4C2793;
}

@media (min-width:1300px){
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1200px;
  }
}

@media (min-width: 768px) {
  .col-md-4 {
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      margin-top: 61px;
  }
}

.badge {
  display: inline-block;
  top: 100px;
  padding: 7px 10px;
  border-radius: 20px;
}

.badge.bg-success{
  background: #e5f8ed !important;
  color: #16b858 !important;
}

button{
  text-transform: capitalize !important;
}

.btn-blue{
  background: #7a55c1 !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.btn-big{
  font-size: 15px !important;
  padding: 5px 40px !important;
  min-width:auto !important;
}

.btn-round{
  border-radius: 30px !important;
}

.btn-round svg{
  font-size: 20px;
}

.btn-sml{
  font-size: 12px !important;
  color: #000;
  text-transform: capitalize !important;
}

.btn-circle{
  border-radius: 50px !important;
  min-width: auto !important;
}

.cursor{
  cursor:pointer;
}

.text-light{
  color: #8b8b8b !important;
}

.text-sml{
  font-size: 14px;
}

::-webkit-scrollbar{
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb{
  background: #ccc !important;
}

::-webkit-scrollbar-track{
  background: transparent !important;
}

.headerWrapper{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* padding-bottom: 10px; */
}

/* Header specific styles */
.headerWrapper .top-strip {
  padding: 8px 0;
}

.headerWrapper .top-strip p {
  color: white;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

.headerWrapper .header {
  width: 100%;
  padding: 25px 0;
}

.logoWrapper img {
  width: 100%;
}

.headerWrapper .header .part2 .countryDrop {
  width: 160px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-radius: 7px !important;
  padding: 10px 15px !important;
  text-align: left;
  justify-content: flex-start !important;
}

.headerWrapper .header .part2 .countryDrop .label {
  font-size: 12px !important;
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.5) !important;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop .name {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #7a55c1 !important;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDrop span.ml-auto svg {
  opacity: 0.7;
}

.headerSearch {
  width: 60%;
  height: 50px;
  background: #f3f4f7;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px !important;
  position: relative;
}

.headerSearch input {
  background: transparent !important;
  outline: none !important;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 30px;
  border: 0px !important;
  padding: 0px 20px !important;
}

.headerSearch input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.headerSearch button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
  min-width: 30px !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50% !important;
  color: #000;
}

.headerSearch button svg {
  font-size: 15px;
}

header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
}

header .part3 .circle svg {
  font-size: 22px;
}

.cartTab .price {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8) !important;
  font-weight: 700;
}

.cartTab button {
  background: #fff1ee !important;
}

.cartTab button svg {
  color: #ea2b0f !important;
}

.cartTab .count {
  position: absolute;
  top: -2px;
  right: -1px;
  background: #ea2b0f;
  border-radius: 50%;
  color: white;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}

.locationModel .MuiPaper-elevation{
   padding: 25px;
   padding: relative;
}

.locationModel .countryList{
  margin-bottom: 0px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.locationModel .countryList li{
  width: 100%;
  list-style: none;
}

.locationModel .countryList li button{
  width: 100%;
  text-transform: capitalize !important;
  color: #000 !important;
  justify-content: flex-start !important;
  padding: 10px 20px !important;
}

.locationModel .countryList li button:hover{
background-color: #f1f1f1 !important;
}

.locationModel .countryList li button.active{
  background-color: #e2e2e2 !important;
}


.close_{
    position: absolute !important;
    top: 10px;
    right: 10px;
    color: #000 !important;
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50px !important;
}

.close_ svg{
  font-size: 22px;
}

nav .navPart1{
  max-width: 20%;
  flex: 0 0 20%;
}

nav .navPart2{
  max-width: 80%;
  flex: 0 0 80%;
}

nav .navPart1 .catWrapper{
  position: relative;
}

nav .navPart1 .catWrapper .sidebarNav{
  width: 100%;
  height: 0px;
  opacity: 0;
  background: #fff;
  position: absolute;
  top: 136%;
  left: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0px;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 100;
}

nav .navPart1 .catWrapper .sidebarNav.open{
  height: auto;
  opacity: 1;
  visibility: inherit;
}

nav .navPart1 .catWrapper .sidebarNav ul li{
  width: 100%;
  list-style: none;
  padding: 0px 10px;
}

nav .navPart1 .catWrapper .sidebarNav ul li button{
  color: #000;
  width: 100%;
  justify-content: flex-start;
  text-transform: capitalize !important;
}

nav .navPart1 .catWrapper .sidebarNav ul li button svg{
  font-size: 13px;
  opacity: 0.6;
}


nav .navPart1 .catWrapper .sidebarNav ul li button:hover{
  background: transparent !important;
}

nav .navPart1 .catWrapper .sidebarNav ul li{
  position: static;

}

nav .navPart1 .catWrapper .sidebarNav ul li .submenu{
  position: absolute;
  top: 0px;
  left: 102%;
  width: 250px;
  height: 100%;
  background: #fff;
  z-index: 100;
  opacity:0;
  visibility: hidden; 
  transition: all 0.2s ease-in-out;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu{
  opacity: 1;
  visibility: initial;
  left: 100%;
} 

nav .navPart1 .catWrapper .sidebarNav ul li:hover .submenu button{
  border-radius: 0px !important;


}

nav .allCatTab{
  background-color: #7a55c1;
  padding: 10px 15px !important;
  border-radius: 30px !important;
  /* border: 1px solid rgba(0, 0, 0, 0.1) !important; */
}

nav .allCatTab *{
  color: white;
}

nav .allCatTab:hover{
  background-color: #7a55c1;
}

nav .allCatTab .text{
  font-weight: 600;
}

nav .allCatTab .icon1 svg{
  font-size: 20px !important;
}

nav .allCatTab .icon2 svg{
  font-size: 15px !important;
}

nav .navPart2 ul{
  margin-bottom: 0px;
}

nav .navPart2 ul li{
  padding-bottom: 20px;
}

nav .navPart2 ul li a{
  text-decoration: none;
}

nav .navPart2 ul li a button{
  font-size: 14px !important;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 14px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
}

nav .navPart2 ul li a svg{
  font-size: 20px;
}

nav .navPart2 ul li a:hover{
  background: #f0faff;
  color: #7a55c1;
}

nav .navPart2 ul li{
  position: relative;
}

nav .navPart2 ul li .submenu{
  position: absolute;
  top: 150%;
  left: 0px !important;
  min-width: 300px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
  z-index: 100;
}

nav .navPart2 ul li .submenu a{
  display: block;
  width: 100%;
}

nav .navPart2 ul li .submenu a button{
  width: 100%;
  justify-content: flex-start !important;
  border-radius: 0px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
}

nav .navPart2 ul li .submenu a button:hover{
  background: #f1f1f1 !important;

}

nav .navPart2 ul li:hover .submenu{
  opacity: 1;
  visibility: inherit;
  top: 100%;
}

.homeBannerSection{
  position: relative;
}

.homeBannerSection .swiper{
  overflow: initial !important; 
}

.homeBannerSection .swiper .item{
  overflow: hidden;
  border-radius: 10px;
}

.homeBannerSection *{
  outline: none !important;
}

.homeBannerSection .slick-arrow{
  position: absolute;
  top: 45%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px !important;
  height: 40px !important;
  background: #2f2f2f !important;
  border-radius: 100%;
  font-family: FontAwesome !important;
  font-weight: bold;
}

.homeBannerSection .slick-arrow.slick-next{
  right: 25px !important;
}

.homeBannerSection .slick-arrow.slick-prev{
  left: 25px !important;
}

.homeBannerSection .slick-arrow.slick-next::before{
  font-family: FontAwesome !important;
  color: #fff;
}

.homeBannerSection .slick-arrow.slick-prev::before{
  font-family: FontAwesome !important;
  color: #fff;
}

.homeProducts{
  padding: 25px 0px;
  width: 100%;
}

.homeProducts .banner{
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.hd{
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.viewAllBtn{
  padding: 5px 25px !important;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 30px !important;
  color: #414141 !important;
  font-weight: 600;
  text-transform: capitalize !important;
}

.viewAllBtn svg{
  font-size: 20px;
}

.productItem{
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.productItem .badge{
  display: inline-block;
  padding: 7px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100;
}

.productItem .info{
  padding: 15px;
}

.productItem .info h4{
  font-size: 14px;
  font-weight: 600;
}

.info .oldPrice{
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: line-through;
}

.info .oldPrice.lg{
  font-size: 20px;
}

.info .netPrice{
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 0, 0, 0.4);
}

.productItem .actions{
  position: absolute;
  top: 10px;
  right: -100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.5s ease-in-out;
}

.productItem .actions button{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px !important;
  height: 40px !important;
  width: 40px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 50% !important;
  background: #fff !important;
  box-shadow: 0 1px 3px rgba(0 0 0 / 12%), 0 1px 2px rgba(0 0 0 / 24%) !important;
  transition: all 0.0s !important;
}

.productItem .actions button svg{
  color: #000 !important;
  opacity: 0.8;
  pointer-events: none;
  font-size: 15px;
}

.productItem .actions button:hover{
  background: #ffffff !important;
}

.productItem .actions button:hover svg{
  background: #fff !important;
}

.productItem .imgWrapper{
  overflow: hidden;
}

.productItem .imgWrapper img{
  transition: all 0.3s ease-in-out;
}

.productItem .imgWrapper:hover .actions{
  opacity: 1;
  right: 10px;
}

.productItem .imgWrapper:hover img{
  transform: scale(1.1);
}

.product_row .productItem{
  border: 1px solid transparent !important;
}

.product_row .swiper-slide:last-child .productItem{
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.swiper{
  padding-right: 1px !important;
}

.badge-primary{
  background: #7a55c1 !important;
}

.homeCat {
  padding: 35px 0px;
}

.homeCat .swiper {
  overflow: initial !important;
}

.homeCat .swiper .item {
  padding: 10px;
  width: 95%;
  height: auto;
  border-radius: 10px;
}

.homeCat .swiper .item img {
  width: 80%;
}

.homeCat .swiper-button-prev,
.homeCat .swiper-button-next {
  top: -35px !important;
  width: 30px !important;
  height: 30px !important;
}

.homeCat .swiper-button-next {
  right: 10px !important;
  left: initial !important;
  background-color: #dfdddd;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeCat .swiper-button-next::after {
  font-size: 14px; 
  color: #000; 
}


.homeCat .swiper-button-prev {
  right: 68px !important;
  left: initial !important;
  background-color: #dfdddd;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeCat .swiper-button-prev::after {
  font-size: 14px; 
  color: #000; 
}

.productRow2{
  flex-wrap: wrap;
  gap: -3px;
}

.productRow2 .productItem{
  width: 14%;
  overflow: hidden;
  border-radius: 1px solid rgba(0,0,0,0.1) !important;
}

.product_row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 

}

.productItem {
  flex: 1 1 calc(25% - 10px); 
  margin: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

.imgWrapper {
  position: relative; 
}

.badge {
  position: absolute; 
  top: 30px;
  left: 10px;
}

.bannerSec{
  gap: 15px;
} 

.sticky {
  position: sticky;
  top: 10px;
  z-index: 100;
}

.newLetterSection{
  width: 100%;
  height: 400px;
  background: #4C2793;
}

.newLetterSection p{
  font-size: 18px;
  margin: 10px 0px !important;
}

.newLetterSection h3{
  font-size: 35px;
  font-weight: bold;
}

.newLetterSection p.text-light{
  color: #fff !important;
  opacity: 0.5;
  font-size: 15px;
}

.newLetterSection .row {
  display: flex;
  align-items: center;
}

.newLetterSection .col-md-6 img {
  margin-left: 20%; 
  width: 80%; 
  height: auto;
  position:relative;
}

.newLetterSection form{
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 11px;
  position: relative; 
  border-radius: 5px;
}

.newLetterSection form svg{
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 25px;
  opacity: 0.3;
}

.newLetterSection form input{
  width: 100%;
  height: 100%;
  background: #fff !important;
  outline: none !important;
  border: 0px !important;
  padding-left: 40px;
  padding-right: 200px;
  font-size: 16px;

}

.newLetterSection form button{
  position: absolute;
  top: 6px;
  right: 10px;
  background: #7a55c1 !important;
  font-size: 14px !important;
  padding: 12px 25px !important;
  color: #fff !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;

}

footer{
  width: 100%;
  height: 500px;
  margin: auto;
  background: #fff;
  padding: 35px 0px;
}

footer .topINfo{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
} 

footer .topINfo .col{
  padding: 15px 15px;
  border-right: 1px solid rgba(0,0,0,0.2);
}

footer .topINfo .col:last-child{
  border-right: 26px;
}

footer .topINfo .col svg{
  font-size: 30px;
}

footer .topINfo .col span{
  font-size: 15px;
  font-weight: 600;
}
footer .linksWrap h5{
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 600;
}

footer .linksWrap ul li{
  list-style: none;
  margin-bottom: 10px;
}

footer .linksWrap ul li a{
  color: #71778e;
  font-size: 13px;
}

footer .linksWrap ul li a:hover{
   text-decoration: none;
}

footer .copyright ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

footer .copyright ul li a svg{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

footer .copyright ul li a:hover{
  background: #7a55c1 !important;
}

footer .copyright ul li a:hover svg{
  color: #fff !important;
}

.productModal .MuiPaper-elevation{
  padding: 25px;
  position: relative;
  max-width: 900px !important;
  width: 900px !important;
}

.productModal h4{
  font-size: 20px !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.productZoom{
  width: 100%;
  height: auto;
  border: 0px solid rgba(0, 0, 0, 0.1);
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
}

.productZoom .badge{
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100;
}


.zoomSliderBig{
  width: 100% !important;
}


.zoomSlider{
  padding-top: 30px;
}

.slick-list {
  position: relative;
  display: block;
  display: block;
  overflow: hidden;
  margin: 20;
  padding: 10;

}

.zoomSlider .slick-slide {
  padding-right: 20px !important;
}

.zoomSlider *{
  outline: none !important;
}

.zoomSlider .item{
  border: 2px solid transparent !important;
  overflow: hidden !important;
  border-radius: 15px;
  cursor: pointer;
}

.zoomSlider .slick-current .item{
  border: 2px solid #3bb77e !important;
}

.zoomSlider .slick-arrow{
  top: 55% !important;
  zoom: 80% !important;
}

.zoomSlider .slick-arrow.slick-next{
  right: -2% !important;
}

.zoomSlider .slick-arrow.slick-prev{
  left: -5% !important;
}

.quantityDrop{
  width: 150px;
  gap: 10px;
}

.quantityDrop button{
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 560% !important;
  background-color: #edeef5 !important;
  border: 1px solid rgb(0, 0, 0,0.1) !important;
  color: #000;
}

.quantityDrop button svg{
  color: #000 !important;
}

.quantityDrop input{
  width: 40px;
  border: 0px;
  background: transparent;
  outline: none !important;
  text-align: center;
}

.productModal .actions button{
  color: #000 !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  font-size: 10px !important;
}

.productModal .actions button svg{
  font-size: 15px !important;
}

.product_Listing_Page {
  padding: 45px 0;
}

.product_Listing_Page .productListing {
  display: flex;
  gap: 20px;
}

.product_Listing_Page .productListing .sidebar {
  width: 20%;
  flex: 0 0 20%;
}

.product_Listing_Page .productListing .sidebar .sticky {
  position: sticky;
  top: 20px;
}


.product_Listing_Page .productListing .sidebar .filterBox {
  margin-bottom: 35px;
}

.product_Listing_Page .productListing .sidebar .filterBox h6 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 15px;
}

.product_Listing_Page .productListing .sidebar .scroll {
  padding-left: 10px;
  max-height: 190px; 
  overflow-y: scroll;
  overflow-x: hidden;
}

.product_Listing_Page .productListing .sidebar .scroll::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}

.product_Listing_Page .productListing .sidebar .scroll::-webkit-scrollbar-thumb {
  background-color: #ccc; 
  border-radius: 10px; 
}

.product_Listing_Page .productListing .sidebar .scroll ul li {
  list-style: none;
  margin-bottom: 0;
  width: 100%;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 2px !important;
}

.css-i4bv87-MuiSvgIcon-root {
  width: 20px !important;
  height: 20px !important;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, 
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #6d4aae !important;
}

.css-8je8zh-MuiTouchRipple-root {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  color: red;
}

.range-slider{
  height: 5px !important;
}

.range-slider .range-slider__thumb, .range-slider .range-slider__range{
  background: #6d4aae !important;
}

.range-slider .range-slider__thumb{
  width: 15px !important;
  height: 15px !important;
}

.text-success {
  color: #000 !important;
}

.product_Listing_Page .productListing .content_right {
  width: 78%;
  flex: 0 0 78%;
  padding-left: 45px;
}


.product_Listing_Page .productListing .showBy{
  width: 100%;
  height: auto;
  background: #f6f7fd;
  padding: 15px 25px;
}


.product_Listing_Page .productListing .content_right .showBy .btnWrapper button{
 min-width: 30px !important;
 height: 30px !important;
 width: 30px !important;
 border-radius: 50px !important;
 color: #000 !important;
}

.product_Listing_Page .productListing .content_right .showBy .btnWrapper button svg{
  color: #000;
  font-size: 25px !important;
  opacity: 0.5;
}

.product_Listing_Page .productListing .content_right .showBy .btnWrapper button .act svg{
  opacity: 1 !important;
}

.product_Listing_Page .productListing .content_right .showBy .btnWrapper button:hover svg{
  opacity: 1;

}

.showByFilter button {
  min-width: auto !important;
  color: #000;
}

.showByFilter button svg {
  color: #000;
  opacity: 0.6;
  margin-left: 5px;
}

.showByFilter button .act{
  background: #ccc !important;
}

.showPerPageDropdown .MuiPaper-root {
  width: 80px !important;
}

.productListing {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.productListing .productItem.four{
  width: 23%;
}

.productListing .productItem.three{
  width: 31.5%;
}

.productListing .productItem.two{
  width: 48%;
}

.productListing .productItem.one{
  width: 100%; 
  display: flex;
  align-items: center;
}

.productListing .productItem.one .img_rapper{
  width: 100%; 
  display: flex;
  align-items: center;
}

.section{
  padding: 45px 0px;
}

.productDetails .hd{
  font-size: 26px;
}

.productDetails .oldPrice{
  font-size: 18px;
}

.productDetails .netPrice{
  font-size: 19px;
}

.badgel {
  top: 85px;
  padding: 5px 8px;
  border-radius: 20px;
}

.badgel.badge-success{
  background: #e5f8ed !important;
  color: #16b858 !important;
}

.productSize{
  width: 100%;
  height: auto;
  padding: 25px 0px;
}

.productSize ul li{
  margin-right: 10px !important;
}

.productSize ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px !important;
  cursor: pointer;
  text-decoration: none !important;
  color: #000;
  font-size: 14px !important;
  transition: all 0.1s ease-in-out;
}

.productSize ul li a:hover{
  background: #ececec;
}

.productSize ul li a.active{
  background: #6d4aae !important;
  color: #fff !important;
}

.productDetails .btn-circle{
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background: #edeef5 !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #000;
  padding: 5px !important;
}

.productDetails .btn-circle svg{
  color: #000 !important;
  opacity: 0.8;
  font-size: 18px;
}

.productDetails .btn-circle:hover{
  background: #ccc !important;
}

.reviews-section {
  padding: 1rem;
  background-color: #f8f9fa; 
  border-radius: 0.5rem;
}

.overall-rating {
  text-align: center;
  margin-bottom: 1rem;
}

.overall-rating h4 {
  margin-bottom: 0.5rem;
}

.review-list {
  margin-top: 1rem;
}

.review-item {
  padding: 1rem;
  background-color: #ffffff; 
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); 
  margin-bottom: 1rem;
}

.review-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.reviewer-details {
  margin-right: auto;
}

.review-item h6 {
  margin-bottom: 0.25rem;
}

.ml-auto {
  margin-left: auto;
}

.text-muted {
  color: #086cc4;
}

.text-dark {
  color: #343a40;
}

.customTabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
}

.tab-list {
  padding: 0;
  margin: 0;
}

.tab-button {
  background: none;
  border: none;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: #6d4aae;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}

.tab-button.active {
  color: #000;
  background-color: #6d4aae; 
  border-radius: 0.25rem 0.25rem 0 0; 
}

.tab-button:not(.active):hover {
  background-color: rgba(0, 123, 255, 0.1); 
}

.tab-content {
  padding: 1.5rem;
  background-color: #f8f9fa; 
  border: 1px solid rgba(0, 0, 0, 0.1); 
  border-radius: 0 0 0.25rem 0.25rem; 
  margin-top: -1px; 
}


.productSize {
  display: flex;
  align-items: center;
}


.productSize span {
  margin-right: 10px;
}


.productSize .list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
}


.productSize .list-inline-item {
  margin-right: 10px;
}

.productSize .tag {
  border: 1px solid #ddd; 
  background-color: #f8f9fa; 
  padding: 5px 10px;
  border-radius: 4px; 
  cursor: pointer; 
  font-size: 14px; 
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s; 
  outline: none; 
}

.productSize .tag.active {
  background-color: #6d4aae; 
  color: #fff; 
  border-color: #6d4aae; 
}

.productSize .tag:hover {
  background-color: #6d4aae;
}

.customTabs {
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.tab-list {
  display: flex;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
  list-style: none; 
}

.tab-item {
  flex: 1;
}

.tab-button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  border: none;
  background-color: #f9f9f9;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
  background-color: #6d4aae !important;
  color: #fff;
}

.tab-button:not(.active):hover {
  background-color: #e2e6ea;
}

.tab-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.cartPage .table {
  width: 100%;
  border-collapse: collapse;
}

.cartPage .table thead {
  background: #ececec;
}

.cartPage .table thead th {
  border: 0;
  padding: 10px; /* Add padding if needed */
}

.cartPage .table thead th:first-child {
  border-top-left-radius: 10px;
}

.cartPage .table thead th:last-child {
  border-top-right-radius: 10px;
}

.cartPage .table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.cartPage .table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

/* Cart Section */
.section.cart-page {
  padding: 40px 0;
}

.cart-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #343a40;
}

.cart-subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  color: #6c757d;
}

/* Table Styles */
.table-responsive {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
}

.table th,
.table td {
  padding: 16px;
  vertical-align: middle;
  text-align: center;
}

.table th {
  background-color: #f1f1f1;
  color: #212529;
  font-weight: 600;
  font-size: 16px;
}

.table td {
  font-size: 15px;
  color: #495057;
}

.table tbody tr:hover {
  background-color: #f8f9fa;
}

.cart-item-img-wrapper {
  display: flex;
  align-items: center;
}

.img-wrapper {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 8px;
}

.img-wrapper img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.product-info {
  text-align: left;
}

.product-name {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #343a40;
}

.product-description {
  font-size: 14px;
  margin: 5px 0 0;
  color: #6c757d;
}

/* Quantity Input */
.quantity-input {
  width: 60px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #ced4da;
  padding: 5px;
}

/* Buttons */
.btn {
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px 12px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-primary {
  background-color: #6d4aae !important;
  color: #fff;
  border: none;
  outline: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}


.btn-primary:hover {
  background-color: #5b3e89 !important; 
}

.btn-primary:focus,
.btn-primary:active {
  background-color: #5b3e89 !important; 
  box-shadow: none;
  outline: none;
}


.btn-primary:focus-visible {
  outline: none;
}


.btn-block {
  display: block;
  width: 100%;
  margin-top: 20px;
}



.cart-totals {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-totals h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #343a40;
}

.cart-totals p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #495057;
}

.cart-totals p:last-child {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
  color: #6d4aae;
}

.cart-totals {
  background-color: #f9f9f9; 
  border: 1px solid #ddd;    
  border-radius: 8px;        
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.cart-totals-title {
  font-size: 1.5rem;          
  margin-bottom: 15px;        
  color: #333;              
}

.cart-totals-content {
  display: flex;
  flex-direction: column;
}

.cart-totals-item {
  display: flex;
  justify-content: space-between; 
  padding: 10px 0;              
  border-bottom: 1px solid #ddd; 
}

.cart-totals-item:last-child {
  border-bottom: none;         
  font-weight: bold;           
}

.cart-totals-amount {
  font-weight: bold;           
}

.btn-primary {
  background-color: #6d4aae !important; 
  border-color: #6d4aae !important;     
}

.btn-primary:hover {
  background-color: #6d4aae !important;
  border-color: #6d4aae !important;   
}
